@font-face {
    font-family: AstroSpace;
    src: url('../font/AstroSpace-0Wl3o.otf') format('woff'), url('../font/AstroSpace-eZ2Bg.ttf') format('truetype');
}

:root {
    --ems-green: #006739;
    --ems-red: #C01E2E;
    --ems-light: #f8f9fa;
    --ems-font: AstroSpace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-height: 100vh; */
    background-color: #fff;
}


/* Customs Fro EMS Start */

.fnt-ems {
    font-family: var(--ems-font);
}

.text-ems-green {
    color: var(--ems-green)
}

.text-ems-red {
    color: var(--ems-red)
}

.bg-ems-green {
    background-color: var(--ems-green)
}

.bg-ems-red {
    background-color: var(--ems-red)
}
.bg-ems-white {
    background-color: var(--ems-light)
}

.lsp-1 {
    letter-spacing: 0.15em;
}

.lsp-2 {
    letter-spacing: 0.2em;
}

.fs-7 {
    font-size: .8rem !important;
}

.fs-8 {
    font-size: .6rem !important;
}

.hover-rounded-light:hover {
    border-radius: 50%;
    background: var(--ems-light);
    color: var(--ems-green);
    padding: 4px;
    transition: .3s;
}

.hover-zoom-1:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
}

.hover-zoom-2:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
}

.hover-ems-green:hover {
    color: var(--ems-green);
}

.hover-ems-red:hover {
    color: var(--ems-red);
}


/* Customs Fro EMS End */

.side-navbar {
    width: 250px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    margin-left: -300px;
    background-color: white;
    transition: 0.5s;
    color: white;
}

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}


/* @media (max-width: 768px) {
    .side-navbar {
        position: absolute;
        margin-left: 0;
        z-index: 100000;
        visibility: hidden;
    }
    .active-cont {
        margin-left: 0;
    }
} */

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: var(--ems-green);
    /* transform: scale(1.01); */
    opacity: 1;
    /* transition: all 0.2s linear; */
}

.nav-link:hover i {
    transform: scale(1.6);
    transition: all 0.2s linear;
}

.active {
    background-color: var(--ems-green);
    color: white !important;
    opacity: .9;
}

.active i {
    transform: scale(1.4);
    transition-delay: 0.3s;
    transition: all 0.3s linear;
}

.my-container {
    transition: 0.4s;
}

#menu-btn {
    background-color: white;
    color: var(--ems-green);
    margin-left: -55px;
}

.cursor-pointer {
    user-select: none;
    cursor: pointer;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}


/* HomePage Card CSS */

.card {
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    transition: 0.9s;
}

.card-border-left {
    border-left: 3px solid var(--ems-red);
}

.card-border-top {
    border-top: 3px solid var(--ems-red);
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, var(--ems-green), #09ad63) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-icon-large .fas,
.card .card-icon-large .far,
.card .card-icon-large .fab,
.card .card-icon-large .fal {
    font-size: 110px;
}

.card .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #e4390a, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}


/* Spinner Loader Start */

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    margin: 0 auto;
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #0b1416;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #ffffff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.preloader .preloader-circle2 {
    border-top-color: #0078ff;
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.preloader .preloader-img img {
    max-width: 55px;
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase;
}
@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }
}


/* Spinner Loader End */

/* search doctor list and grid item start */
.view-group {
    display: flex;
    flex-direction: row;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-ems-item {
    float: none;
    width: 70%;
    margin-bottom: 30px;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
    transition: all 0.5ms;
    
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption {
    float: right;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
} 

 .item.list-group-item:after {
    clear: both;
} 
/* search doctor list and grid item end */

/* media query */
@media (max-width: 575.98px) {
    .item.list-ems-item {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        max-width: 100%;
        padding: 0 1rem;
        border: 0;
    }
}
/* prescription css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");





/* .main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
} */

/* h4 {
    font-size: 20px;
    margin: 20px 20px;
} */

.todolist {
    width: 250px;
    min-height: 300px;
    padding: 10px 20px 100px 20px;
    margin-top: 10px;
}

.todolist li {
    color: rgb(87, 84, 84);
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    word-break: break-word;
}

li button {
    float: right;
    color: rgb(56, 56, 56);
    padding: 5px 5px;
    margin-left: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 0px solid transparent;
    border: .5px solid rgb(248, 238, 238);
    transition: 0.2s all ease-in-out;
}

/* li button:hover {
    background-color: rgb(30, 30, 31);
    color: rgb(12, 11, 11);
} */

/* #inputtask {
    min-width: 150px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px solid transparent;
    font-size: 18px;
    margin-right: 10px;
    color: rgb(10, 10, 10);
}

#inputtask:focus {
    outline: none;
} */

#addbutton {
    color: rgb(23, 23, 24);
    font-weight: 300;
    font-size: 15px;
    border-radius: 5px;
    border: 0px solid transparent;
    margin-left: 5PX;
    padding: 5px 5px;
    cursor: pointer;
    border: .5px solid rgb(134, 132, 132);
    transition: 0.3s all ease-in-out;
}

#addbutton:hover:hover {
    background-color: rgba(32, 32, 32, 0.253);
    color: rgb(65, 62, 62);
    transform: scale(0.97);
}

.d-none {
    display: none;
}

li span:focus {
    background-color: rgb(202, 199, 199);
    color: black;
    outline: none;
    /* padding: 0 5px; */
    display: inline-block;
    /* min-width: 200px;
    max-width: 200px; */
}

/* .link {
    text-align: center;
    margin: 20px;
}

.link a {
    color: white;
} */

.myDiv{
    display: none;
    padding: 10px;
}
/* prescription css end */


/* -///-----New CSS */

/* Feedback Category Emoji Radio */
.option_item {
    position: relative;
    margin: 10px;
  }
  .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
  }
  .option_item .option_inner {
    background-color: #eeeeee;
    border-radius: 2px;
    padding: 4px 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: black;
    transition: all 0.3s;
  }
  .option_item .checkbox:checked ~ .option_inner {
    background-color: var(--ems-green);
    color: white;
    transition: all 0.3s;
  }
  
  .cat-radio {
    display: none;
  }
  
  .feed-emo {
    margin: 5px;
    background-color: #e6e5e5;
    /* border: .5px solid rgb(66, 173, 66); */
    border-radius: 2px;
    padding: 4px 12px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: black;
    transition: all 0.3s;
  }
  
  .feed-emo:hover {
    background-color: var(--ems-green);
    color: white;
  }
  .feed-emo-17, .feed-emo-11, .feed-emo-9{
    background: red;
    color:white;
  }
  .feed-emo-17:hover , .feed-emo-11:hover , .feed-emo-9:hover {
    background-color:red ;
    color: white;
  }
  
  #feed-cat-1:checked ~ .feed-emo-1,
  #feed-cat-2:checked ~ .feed-emo-2,
  #feed-cat-3:checked ~ .feed-emo-3,
  #feed-cat-4:checked ~ .feed-emo-4,
  #feed-cat-5:checked ~ .feed-emo-5,
  #feed-cat-6:checked ~ .feed-emo-6,
  #feed-cat-7:checked ~ .feed-emo-7,
  #feed-cat-8:checked ~ .feed-emo-8,
  #feed-cat-9:disabled ~ .feed-emo-9,
  #feed-cat-10:checked ~ .feed-emo-10,
  #feed-cat-11:disabled ~ .feed-emo-11,
  #feed-cat-12:checked ~ .feed-emo-12,
  #feed-cat-13:checked ~ .feed-emo-13,
  #feed-cat-14:checked ~ .feed-emo-14,
  #feed-cat-15:checked ~ .feed-emo-15,
  #feed-cat-16:checked ~ .feed-emo-16,
  #feed-cat-17:disabled ~ .feed-emo-17,
  #feed-cat-18:checked ~ .feed-emo-18,
  #feed-cat-19:checked ~ .feed-emo-19,
  #feed-cat-20:checked ~ .feed-emo-20,
  #feed-cat-21:checked ~ .feed-emo-21,
  #feed-cat-22:checked ~ .feed-emo-22,
  #feed-cat-23:checked ~ .feed-emo-23,
  #feed-cat-24:checked ~ .feed-emo-24,
  #feed-cat-25:checked ~ .feed-emo-25,
  #feed-cat-26:checked ~ .feed-emo-26  {
    background-color: var(--ems-green);
    color: white;
  }

  /* history page */
